.bubble-container {
    position: relative;
    width: 100%;
    background: #f0fffb4f;
    overflow: hidden;
}

.bubble {
    position: absolute;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 1;
}

.bubble-container h3 {
    padding: 0 1.5rem;
}

/* Estilos para las burbujas de contenido con gradiente */
.first-bubble {
    background: radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0.9), rgba(173, 216, 230, 0.9)); /* Gradiente azul */
}

.second-bubble {
    background: radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0.9), rgba(255, 99, 71, 0.9)); /* Gradiente rojo */
}

.third-bubble {
    background: radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0.9), rgba(34, 139, 34, 0.9)); /* Gradiente verde */
}

.fourth-bubble {
    background: radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0.9), rgba(255, 215, 0, 0.9)); /* Gradiente amarillo */
}

.bubble-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: opacity(0.3);
    z-index: 0;
}

.bubble-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(240, 248, 255, 0.9);
    opacity: 0.5;
    color: black;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: opacity 0.2s ease-in-out;
}

.bubble:hover .bubble-content {
    opacity: 1;
}

.bubble-content p,
.bubble-content a {
    display: none;
}

.bubble:hover .bubble-content p,
.bubble:hover .bubble-content a {
    display: block;
}

.bubble:hover {
    z-index: 1000; /* Aumenta el z-index cuando se hace hover para asegurarse de que esté por encima */
}

.bubble {
    width: 200px;
    height: 200px;
    /* ... otros estilos */
}

/* Tamaño para dispositivos intermedios */
@media (max-width: 991px) {
    .bubble {
        width: 200px;
        height: 200px;
    }

    .bubble-content h3 {
        font-size: 1em;
    }
    
    .bubble-content p, .bubble-content a  {
        font-size: 0.75em;
    }

    .bubble-container {
        height: 550px;
    }
}

/* Tamaño para escritorio */
@media (min-width: 992px) {
    .bubble {
        width: 400px;
        height: 400px;
    }

    .bubble-content h3 {
        font-size: 1.5em;
    }
    
    .bubble-content p, .bubble-content a {
        font-size: 1em;
    }

    .bubble-container {
        height: 650px;
    }
}