@import '../styles/variables.css';

/* Estilos generales del navbar */
#navbar {
    background-color: var(--color-grayblue);
    color: var(--link-white-color);
    transition: opacity 2s ease-in-out, transform 0.3s ease-in-out;
    z-index: 1000;
    font-family: 'Mina', sans-serif;
    opacity: 0;
}

/* Enlaces nav-link */
#navbar .nav-link {
    font-weight: bold;
    padding: 5px 0;
    line-height: 1;
    position: relative;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right, var(--link-hover-color), var(--link-hover-color) 50%, var(--link-white-color) 50%);
    background-size: 200% 100%;
    background-position: -100%;
    transition: background-position 0.3s ease-in-out;
}

#navbar .nav-link::before {
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -3px;
    left: 0;
    background: var(--link-hover-color);
    transition: width 0.3s ease-in-out;
}

#navbar .nav-link:hover {
    background-position: 0%;
}

#navbar .nav-link:hover::before {
    width: 100%;
}


@media (min-width: 768px) {
    .nav-item {
        margin: 0 15px; /* Ajusta el valor según tus necesidades */
    }
}

.right-items {
  text-transform: uppercase;
} 

/* Ajustes para los íconos */
#navbar .email-icon,
#navbar .linkedin-icon {
    margin-right: 5px;
}

.navbar-toggler {
  border-color: var(--link-white-color);
}

/* Estilo del divisor */
.navbar-collapse hr {
    margin: 1rem 0;
    border-color: var(--link-white-color);;
}

/* Centrar elementos en el menú desplegable en móviles */
@media (max-width: 767.98px) {
    .navbar-nav.right-items .nav-item,
    .contact-links .nav-item {
        text-align: center;
    }

    /* Añadir margen entre los items del menú desplegable */
    .navbar-nav.right-items .nav-item + .nav-item,
    .contact-links .nav-item + .nav-item {
        margin-top: 10px;
    }
}

.navbar-toggler .fas {
  color: var(--link-white-color);
  font-size: 1.5rem; /* Ajusta el tamaño según tus preferencias */
}