* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

body{
    background-image: url("../images/background.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

#main-header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 4%;
    background-color: rgba(11,11,22,0.7);
    overflow: hidden; 
}

#main-header #slogan {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#main-header #slogan h1 {
    color: #f1f1f1;
    font-size: 6em;
    font-weight: 700;
    letter-spacing: 2px;
}

#main-header #presentation {
    opacity: 0;
    margin-top: 2em;
    transition: opacity 2s ease-in-out; /* Duración de la transición y efecto */
}

#main-header #presentation h3 {
    color: #f1f1f1;
    font-size: 1.5em;
    font-weight: 300;
    padding-bottom: 7px;
    letter-spacing: 2px;
}

#main-header #presentation h3>#role {
    color: rgb(157 157 157);
}


.highlight-word {
    background-image: linear-gradient(130deg, rgb(217, 150, 237) 50%, rgb(48, 98, 236) 100%);
    -webkit-background-clip: text;
    color: transparent;
}


/*
Index carousel
*/
.carousel-inner {
    height: 900px;
}

.carousel-item img {
    height: 900px;
    object-fit: cover; /* Esto asegura que la imagen se ajuste sin deformarse */
}

.custom-wide-carousel-caption {
    position: absolute;
    right: 0%;
    bottom: 0rem;
    left: 0%;
    padding-top: 2.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    height: 11rem;
    text-align: center;
    background-color: rgb(73 72 84 / 64%)
}

/* ABOUT ME */

#about-me {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: #f7f7f7;
    width: 100%;
    height: auto;
}

.about-me-content {
    width: 60%;
    padding-right: 20px;
}

.about-me-content h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.about-me-content p {
    font-size: 1.2em;
    line-height: 1.6;
    color: #333;
}

.about-me-content .more-link {
    font-weight: bold;
    text-decoration: none;
    color: #3498db;
    transition: color 0.3s ease;
}

.about-me-content .more-link:hover {
    color: #2980b9;
}

.about-me-image {
    width: 100%;  /* La imagen ocupará el 100% del ancho del contenedor */
    max-width: 900px; /* Limitar el ancho máximo a 900px */
    height: auto; /* Mantener la proporción de la imagen */
    max-height: 900px; /* Limitar la altura máxima a 900px */
    position: relative;
    overflow: hidden; /* Asegurarse de que cualquier parte extra quede oculta */
}

.about-me-image img {
    width: 100%; /* La imagen se ajusta al ancho del contenedor */
    height: auto; /* Mantener las proporciones correctas de la imagen */
    clip-path: url(#paint-clip); /* Aplicar el clip-path */
    max-height: 900px; /* Limitar la altura de la imagen a 900px */
}

.about-me-content {
    opacity: 0;
    transform: translateY(100px); /* Aumenta la distancia de desplazamiento */
    transition: opacity 1.5s ease-in-out, transform 1.5s ease-in-out; /* Ralentiza la transición */
}

.about-me-content.visible {
    opacity: 1;
    transform: translateY(0); /* Restablece la posición y opacidad */
}
