@import '../styles/variables.css';

* {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4 {
    font-family: var(--titles-font);
}

h4 {
    font-style: italic;
    font-weight: 400;
    font-size: 1.25rem;
}

body {
    background-image: url("../images/background.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    font-family: sans-serif;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(11, 11, 22, 0.7);
    z-index: -1;
}

section>h2 {
    text-align: center;
    font-size: 2.5em;
    margin: 0;
    padding: 6rem 1rem 4rem;
}

section>h4 {
    background: #1c1d2059;
    padding: 1rem;
    color: gray;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

section h2.light-title {
    color: #f0f0f0;
    background-color: #80c3c333;
}

section h2.dark-title {
    color: #111013;
}

section .section-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    background: #f0fffb4f;
    padding: 5rem 0;
}

/* MAIN HEADER */
#main-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    padding-left: 4%;
    overflow: hidden;
}

#main-header .slogan {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#main-header .slogan h1 {
    font-weight: 700;
    letter-spacing: 2px;
    color: var(--color-white);
    font-size: clamp(3.25em, 10vw, 6em);
}

#main-header .presentation {
    margin-top: 2em;
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

#main-header .presentation h3 {
    font-family: var(--titles-font);
    font-weight: 300;
    letter-spacing: 2px;
    color: var(--color-white);
    font-size: clamp(1em, 3vw, 1.5em);
    padding-bottom: 7px;
}

#main-header .presentation h3>.role {
    color: var(--color-lightgray);
}

.highlight-word {
    color: transparent;
    background-image: linear-gradient(130deg, rgb(217, 150, 237) 50%, rgb(48, 98, 236) 100%);
    background-clip: text;
    -webkit-background-clip: text;
}

/* ABOUT ME */
#about-me {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: var(--color-white);
    width: 100%;
}

.about-me-content {
    flex: 1 1 60%;
    max-width: 60%;
    padding-right: 20px;
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 1.5s ease-in-out, transform 1.5s ease-in-out;
}

.about-me-content.visible {
    opacity: 1;
    transform: translateY(0);
}

.about-me-content h1 {
    font-size: 3em;
    color: var(--text-color);
    margin-bottom: 20px;
}

.about-me-content p {
    font-size: 1.2em;
    line-height: 1.6;
    color: var(--text-color);
}

.about-me-content .more-link {
    font-weight: bold;
    text-decoration: none;
    color: #69acd9;
    transition: color 0.3s ease;
}

.about-me-content .more-link:hover {
    color: var(--link-hover-color);
    text-decoration: underline;
}

.about-me-image {
    flex: 1 1 48%;
    position: relative;
    overflow: hidden;
}

.about-me-image img {
    width: 100%;
    height: auto;
    clip-path: url(#paint-clip);
}

@media (max-width: 991px) {
    #about-me {
        flex-direction: column;
        padding: 4rem 1rem;
    }

    .about-me-content {
        flex: 1 1 100%;
        max-width: 100%;
        padding-right: 0;
        padding-bottom: 20px;
        transform: none;
    }

    .about-me-content h1 {
        font-size: 2.5em;
    }

    .about-me-content p {
        font-size: 1em;
    }

    .about-me-image {
        flex: 1 1 100%;
        max-width: 500px;
    }
}

/* Stack carousel */
/* Stack carousel */

/* Estilos generales */
#stack .carousel-inner {
    height: 650px;
    /* Altura fija en desktop (ajusta este valor si es necesario) */
}

#stack .carousel-item {
    position: relative;
    height: 100%;
}

#stack .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* La imagen cubre el contenedor sin distorsión */
}

#stack .custom-wide-carousel-caption {
    position: absolute;
    bottom: 0;
    /* Pegado al borde inferior */
    right: 0;
    left: 0;
    padding: 1.5rem 1rem 2.5rem;
    color: #fff;
    text-align: center;
    background-color: rgba(73, 72, 84, 0.64);
}

#stack .custom-wide-carousel-caption h1 {
    font-size: 2rem;
    /* Ajusta según tus preferencias */
}

#stack .custom-wide-carousel-caption p {
    font-size: 1rem;
}

/* Ocultar flechas en tablet y móvil */
@media (max-width: 992px) {

    #stack .carousel-control-prev,
    #stack .carousel-control-next {
        display: none;
    }
}

/* Ajustes para pantallas móviles */
@media (max-width: 576px) {
    #stack .carousel-inner {
        height: 500px;
        /* Altura fija en móviles */
    }

    #stack .custom-wide-carousel-caption h1 {
        font-size: 1.5rem;
    }

    #stack .custom-wide-carousel-caption p {
        font-size: 0.9rem;
    }

    #stack .custom-wide-carousel-caption {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
}

/* Ajuste de los iconos de flecha */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 30px;
    height: 30px;
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 576px) {
    #stack .carousel-item {
        min-height: 200px;
        /* Reducir la altura mínima en móviles */
    }

    #stack .carousel-item img {
        height: 100%;
    }

    #stack .custom-wide-carousel-caption h1 {
        font-size: 1.5rem;
    }

    #stack .custom-wide-carousel-caption p {
        font-size: 0.9rem;
    }

    #stack .custom-wide-carousel-caption {
        padding-top: 1rem;
        padding-bottom: 2.5rem;
    }
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 30px;
    height: 30px;
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 576px) {

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        width: 20px;
        height: 20px;
    }
}


/* Projects Section */
#projects {
    padding: 50px;
    background-color: #f7f7f7;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.project {
    position: relative;
    background-color: #3498db;
    color: #fff;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.project:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.project-content {
    padding: 20px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.project:hover .project-content {
    opacity: 1;
    /* Show content on hover */
}

.project h3 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

.project p {
    font-size: 1.2em;
}

.project-link {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

.project-link:hover {
    text-decoration: underline;
}

/* See More Projects Card */
.see-more-card {
    background-color: #2c3e50;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.see-more-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.see-more-link {
    color: #fff;
    font-size: 1.5em;
    text-decoration: none;
    font-weight: bold;
}

.see-more-link:hover {
    text-decoration: underline;
}


/* Estilos generales (desktop) */
/* Estilos generales (escritorio) */
#testimonial .testimonial-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    margin: 5rem auto;
}

#testimonial .content {
    width: 520px;
    height: 270px;
    color: #4d4352;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(4.5px);
    border-radius: 10px;
    padding: 45px;
    z-index: 2;
    position: relative;
    right: -40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#testimonial .hero {
    position: relative;
    height: 100%;
    z-index: 1;
    padding-right: 40px;
}

#testimonial .hero img {
    height: 420px;
    border-radius: 10px;
    width: 320px;
    object-fit: cover;
    pointer-events: none;
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
    #testimonial .testimonial-container {
        flex-direction: column;
        align-items: center;
    }

    #testimonial .content {
        order: 2;
        width: 90%;
        padding: 20px;
        margin-top: -40px;
        /* Ajusta este valor según sea necesario */
        right: 0;
        /* Elimina el desplazamiento hacia la derecha */
        z-index: 2;
        background: rgba(255, 255, 255, 0.7);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
        backdrop-filter: blur(4.5px);
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    #testimonial .hero {
        order: 1;
        padding-right: 0px;
    }

    #testimonial .hero img {
        height: 400px;
        width: 300px;
        margin: 0 auto;
    }
}

@media (max-width: 992px) {

    #testimonial .carousel-control-prev,
    #testimonial .carousel-control-next {
        display: none;
    }

    #testimonial .testimonial-container {
        margin: 2rem auto 5rem;
    }
}


/* Sección de Portafolio */
#portfolio .custom-card {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 250px 20px 20px;
    grid-template-areas: "image" "text" "stats";
    border-radius: 18px;
    background: #1d1d1d;
    color: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    font-family: sans-serif;
    text-align: justify;
    margin: 30px;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    transition: 0.5s ease;
    justify-items: center;
    align-items: center;
}

#portfolio .rgb::after {
    content: "";
    background: linear-gradient(45deg,
            #ff0000 0%,
            #ff9a00 10%,
            #d0de21 20%,
            #4fdc4a 30%,
            #3fdad8 40%,
            #2fc9e2 50%,
            #1c7fee 60%,
            #5f15f2 70%,
            #ba0cf8 80%,
            #fb07d9 90%,
            #ff0000 100%) repeat 0% 0% / 300% 100%;
    position: absolute;
    inset: -3px;
    border-radius: 16px;
    filter: blur(8px);
    transform: translateZ(-1px);
    animation: rgb 6s linear infinite;
}

@keyframes rgb {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

#portfolio .custom-card-image {
    grid-area: image;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
    height: 100%;
    width: 100%;
}

#portfolio .custom-card-text {
    grid-area: text;
    margin: 25px;
    transform: translateZ(30px);
}

#portfolio .custom-card-text .date {
    color: rgb(255,  77, 7);
    font-size: 13px;
}

#portfolio .custom-card-text p {
    color: grey;
    font-size: 14px;
    font-weight: 300;
    font-family: sans-serif;
}

#portfolio .custom-card-text h2 {
    margin-top: 0px;
    font-size: 28px;
}

#portfolio .custom-card:hover {
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}

#portfolio .custom-card:hover .custom-card-links {
    opacity: 1;
}

#portfolio .custom-card-links {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

#portfolio .custom-card-links a:hover {
    color: var(--link-hover-color);
}


#portfolio .custom-card-image.card1 {
    background: linear-gradient(#fff0 50%, #fff0 70%, #1d1d1d 100%), url("../images/projects-veterinarian.png");
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    background-position: center, center;
    height: 100%;
    width: 100%;
}

#portfolio .custom-card-image.card2 {
    background: linear-gradient(#fff0 0%, #fff0 70%, #1d1d1d 100%), url("../images/nebula.jpg");
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    background-position: center, center;
    height: 100%;
    width: 100%;
}

#portfolio .custom-card-image.card3 {
    background: linear-gradient(#fff0 0%, #fff0 70%, #1d1d1d 100%), url("../images/projects-art-gallery.png");
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    background-position: center, center;
    height: 100%;
    width: 100%;
}

#portfolio .custom-card-image.card4 {
    background: linear-gradient(#fff0 0%, #fff0 70%, #1d1d1d 100%), url("../images/myself.jpg");
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    background-position: center, center;
    height: 100%;
    width: 100%;
}

#portfolio .section-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding: 2rem 1rem;
    align-items: center;
    justify-items: center;
}

#portfolio .custom-card {
    width: 300px;
    margin: 2rem;
}

@media (min-width: 768px) and (max-width: 1529px) {
    #portfolio .section-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1530px) {
    #portfolio .section-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}